.marquee {
    width: 100%;
    overflow: hidden;
    box-sizing: border-box;
    
  }
  
  .marquee-content {
   min-width: 100%;
   
    animation: marquee 30s linear infinite;
  }

  
  @keyframes marquee {
    0% {
      transform: translateX(100%);
    }
    100% {
      transform: translateX(-100%);
    }
  }





  .checklist {
    list-style-type: none; /* Remove default bullet points */
    padding-left: 0;
  }
  
  .checklist li {
    position: relative;
    padding-left: 25px; /* Space for the checkmark */
    margin-bottom: 10px; /* Space between list items */
    
  }
  
  .checklist li::before {
    content: '✔'; /* Unicode character for checkmark */
    position: absolute;
    left: 0;
    top: 0;
    color: green; /* Set checkmark color */
   
  }
  


/*Singlae page start */
ul.custom-checklist {
  list-style: none;
  padding: 0;
  margin: 0;
}

ul.custom-checklist li {
  position: relative;
  padding-left: 35px;
  margin-bottom: 10px;
  

}

ul.custom-checklist li::before {
  content: '✅';
  position: absolute;
  left: 0;
  font-size: 18px;
  color: green;
 
 
 
}
/* singlae page end*/


